/* Header Styles */
.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header a:hover {
    color: white;
    opacity: 0.7;
}

.brand a {
    background: linear-gradient(to right, #86cca6 0%, #09b4e0 100%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    font-weight: 700;
    font-size: 24px;
    padding-left: 15px;
}

.header .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav-links li {
    display: inline-block;
    margin-right: 30px;
}

.header .nav-links li:last-child {
    margin-right: 0;
}

/*Header on other pages style*/

.other-page__header {
    background-color: #032039;
}
.other-page__header .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.other-page__headera {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
.other-page__header a {
    color: white;
}
.other-page__header a:hover {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
.other-page__header .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.other-page__header .nav-links li {
    display: inline-block;
    margin-right: 30px;
}
.other-page__header .nav-links li:last-child {
    margin-right: 0;
}