/*p{*/
/*    white-space: normal;*/
/*}*/

.app {
    background: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.input-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.input-section-title {
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    line-height: 40px;
    font-weight: bold;
    padding-top: 50px;
}

.input-title {
    font-size: 3rem;
}

.input-title-descr {
    font-size: 1.75rem;
}

/*.main-input {*/
/*    width: 50%;*/
/*    background-color: #ffffff;*/
/*    padding: 10px 15px;*/
/*    border-radius: 30px;*/
/*    border: none;*/
/*    color: #032541;*/
/*    font-size: 15px;*/
/*}*/

/*.search-film-btn {*/
/*    background: linear-gradient(to right, #1cd2ae 0%, #02b5e1 100%);*/
/*    padding: 11px 25px;*/
/*    font-size: 15px;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 30px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    left: -53px;*/
/*}*/

.carousel-img {
    max-height: 100vh;
}

.carousel-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.footer {
    margin-top: auto;
    background: linear-gradient(to bottom, #032039 0%, #032541 100%);
}

.footer-info {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.footer-info p a {
    color: #02b5e1;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.my-card {
    display: inline-block;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}