
html {
    background: #f9f9f9;
}

p {
    overflow: hidden;
}

.app {
    background: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.my-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.burger-menu {
    display: none;
}

.top {
    background: #032039;
}

.top__inner {
    color: white;
    height: 30vh;
    width: 100vw;
}

.top__content {
    padding-top: 100px;
}

.input-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.input-section-title {
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    line-height: 40px;
    font-weight: bold;
    padding-top: 50px;
}

.input-title {
    font-size: 3rem;
}

.input-title-descr {
    font-size: 1.75rem;
}

.main-input {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    color: #032541;
    font-size: 15px;
    position: relative;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.search-film-btn {
    background: linear-gradient(to right, #1cd2ae 0%, #02b5e1 100%);
    padding: 11px 25px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.carousel-img {
    max-height: 100vh;
}

.carousel-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.movie-img {
    max-height: 100vh;
}

.movie-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.68);
    z-index: 2;
}

.footer {
    margin-top: auto;
    background: linear-gradient(to bottom, #032039 0%, #032541 100%);
}

.footer-info {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.footer-info p a {
    color: #02b5e1;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 50px;
}

.my-card {
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}

div .spinner-grow {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: .75s linear infinite spinner-grow;
}

.movies-page {
    margin-top: 40px;
    margin-bottom: 40px;
}

.no-movies {
    margin-top: 40px;
}

section {
    margin-top: 50px;
}

.genre-list {
    padding-left: 0;
}

.card {
    padding: 0 !important;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    top: 0;
}

/*.my-card{*/
/*    margin-bottom: 20px;*/
/*}*/
.card-img {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
}

.list-group {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #dbdbdb;
}

.movie-info {
    font-size: 0.75rem;
}

.none-img {
    background-color: #c7c7c7;
}

.movie-img img {
    height: 100vh;
    position: relative;
}

.movie-overview {
    font-weight: normal;
    line-height: 20px;
    max-width: 500px;
}

.movie-page__content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.modal-body {
    padding: 0 !important;
}

.card-title {
    margin-bottom: .75rem;
    height: 4rem;
}
@media(max-width: 780px){
    .col-9 {
        flex: 0 0 90% !important;
        max-width: 100% !important;
        margin: 0 auto;
    }
}
@media (max-width: 710px) {
    .carousel-inner {
        height: 100vh;
    }

    .carousel-img img {
        height: 100vh;
        object-fit: cover;
    }
}

@media (max-width: 550px) {
    .nav-links {
        z-index: 99;
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 54%;
        margin-left: -15px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 45% !important;
        transform: translateY(-400px);
        transition: all 0.5s ease;
    }

    .nav-links--active {
        transform: translateY(0);
    }

    .nav-links li {
        margin-bottom: 15px;
    }

    .nav-links li a {
        color: #032039;
        font-size: 22px;
        font-weight: 600;
    }
    .nav-links li a:hover {
        color: #02b5e1;
        font-size: 22px;
        font-weight: 600;
    }
    .btn.btn-main {
        display: none;
    }

    .brand {
        z-index: 100;
    }

    .burger-menu {
        z-index: 100;
        display: block;
        height: 30px;
        width: 30px;
        cursor: pointer;
        position: relative;
        top: 7px;
    }

    .burger-menu span {
        display: block;
        width: 100%;
        height: 3px;
        background: white;
        margin-bottom: 5px;
        border-radius: 4px;
    }

    .burger-menu span:last-child {
        margin-bottom: 0;
    }

    .burger-menu--active span {
        background: #032039;
    }

    .burger-menu--active span:first-child {
        position: relative;
        top: 9px;
        transform: rotate(45deg);
        transition: all 0.5s ease;
    }

    .burger-menu--active span:nth-child(2) {
        display: none;
    }

    .burger-menu--active span:last-child {
        position: relative;
        bottom: -1px;
        transform: rotate(-45deg);
        transition: all 0.5s ease;
    }
}
