@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #27ae60;
  --white: #fff;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}
.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header Styles */
.header {
  background-color: #032541;
}

.header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header a:hover {
  opacity: 0.7;
}

.brand a {
  background: linear-gradient(to right, #86cca6 0%, #09b4e0 100%); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent; /* Прозрачный текст */
  font-weight: 700;
  font-size: 24px;
  padding-left: 15px;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

.carousel-img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.footer{
  margin-top: auto;
  background: linear-gradient(to bottom, #032039 0%, #032541 100%);
}
.footer-info{
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.footer-info p a{
  color: #02b5e1;
}